<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/login">
    	<input type="text" id="username" name="username" placeholder="Enter your username" required>
    	<input type="password" id="password" name="password" placeholder="Enter your password" required> 
    	<button type="submit">Log in</button> 
    </form>
    <a href="/register">New User? Signup here</a>
  </body>
</html>