<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/register">
    	<input type="text" id="uname" name="uname" placeholder="Enter your full name" required>
    	<input type="text" id="username" name="username" placeholder="Enter a unique username" required>
    	<input type="password" id="password" name="password" placeholder="Enter a password" required>
    	<button type="submit">Register</button> 
    </form>
    <a href="/">Already have an account? Sign in here.</a>
  </body>
</html>
